body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    padding: 5rem 0;
    background-color: #6347ee;
    color: #fff;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background-color: #d2a0ff69;
    padding: 5rem 0;
    text-align: center;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}

.sobre-mi {
    padding: 4rem;
    text-align: center;
}

.profile-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.sobre-mi p {
    margin-bottom: 1rem;
    text-align: justify;
}

.proyectos {
    background-color: #eee;
    padding: 4rem;
}

.proyectos h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 2rem;
}
.proyectos h4 {
    text-align: center;
    font-size: 36px;
    margin-top: 5rem;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
}

.proyecto-card {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.proyecto-card img {
    width: 100%;
    display: block;
    height: auto;
}

.proyecto-card h3 {
    padding: 10px;
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
}

.proyecto-card p {
    padding: 0 10px 10px;
    text-align: center;
    margin-bottom: auto;
}

.proyecto-card a {
    display: block;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.proyecto-card a:hover {
    background-color: #0056b3;
}

.contacto {
    padding: 2rem;
    text-align: center;
}

.contacto p {
    margin-bottom: 2rem;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical;
}

footer {
    background-color: #6347ee;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: sticky;
    bottom: 0; /* Opcional: fijar al pie de página */
    width: 100%;
}

.avatar-willyreey{
    max-width: 300px;
}
/* Estilos adicionales para mejorar la apariencia (opcional) */